@font-face {
  font-family: 'CrowMark';
  src: url('./CrowMark.otf?raw=true') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WickMarkLine';
  src: url('../base/WickMarkLine.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  word-break: break-all;
  font-family: monospace;
  line-height: 1.5;
  font-size: 16px;
  word-break: normal;
  display: block;
  max-width: 820px;
  margin: 0 auto;
  padding-bottom: 128px;
}

.font-sans-serif,
.font-sans-serif * {
  font-family: sans-serif;
}

.font-monospace,
.font-monospace * {
  font-family: monospace;
}

.font-wickmark-line,
.font-wickmark-line * {
  font-family: WickMarkLine;
}

.font-size-large {
  font-size: 192px;
}

.font-size-small {
  font-size: 24px;
  word-break: normal;
}

.text-h1 {
  color: #71717a;
  /* zinc-500 */
  font-size: 56px;
  letter-spacing: 0.1rem;
  margin-bottom: 8px;
  margin-top: 16px;
  text-align: center;
}

.content {
  padding: 16px;
}

.matrix {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 48px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 32px;
  justify-content: center;
}

.list-item {
  text-align: center;
  visibility: hidden;
  border-radius: 4px;
  width: 64px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.list-item.visible {
  visibility: visible;
}

.list-item .font-wickmark-leaf {
  display: flex;
  justify-content: center;
  height: 72px;
  width: 100%;
}

.list-item .font-wickmark-leaf.right {
  justify-content: flex-end;
  transform: translateX(-5px);
}

.list-item .font-wickmark-leaf img {
  height: 72px;
  width: auto;
}

.list-item.error {
  background-color: #f4f4f5;
}

.list-item .font-wickmark-line {
  font-size: 48px;
}

.list-item .base-text {
  text-align: center;
  font-size: 16px;
  color: #18181b;
  /* zinc-900 */
}

.list-item.error .base-text {
  color: #71717a;
}

.list-item.error img {
  display: none;
}
